
body {
    background-color: #f6f6f6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
}

#left {
    display: grid;
    height: 100vh;
    grid-template-columns: 3vw 35vw 30vw;
    grid-template-rows: repeat(12, 1fr);
    background-color: orange;
}

#left > div:nth-child(1) {
    border: 1px solid red;
    grid-row :span 2;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(2) {
    border: 1px solid red;
    grid-row :span 2;
    display: flex;
    align-items: center;
    font-size: 100px;
    padding-left: 10px;
    color: red;
}

#left > div:nth-child(3) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(4) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left > div:nth-child(4) > div {
    background-color: red;
    white-space: nowrap;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}

#left > div:nth-child(5) {
    border: 1px solid white;
    grid-row :span 2;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#left > div:nth-child(6) {
    border: 1px solid white;
    grid-row :span 2;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    padding-left: 10px;
    color: white;
}

#left > div:nth-child(7) {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#left > div:nth-child(8) {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left > div:nth-child(8) > div {
    background-color: white;
    white-space: nowrap;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}

#left > div:nth-child(9) {
    border: 1px solid red;
    grid-row :span 2;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(10) {
    border: 1px solid red;
    grid-row :span 2;
    display: flex;
    align-items: center;
    font-size: 100px;
    padding-left: 10px;
    color: red;
}

#left > div:nth-child(11) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(12) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left > div:nth-child(12) > div {
    background-color: red;
    white-space: nowrap;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}

#left > div:nth-child(13) {
    border: 1px solid red;
    grid-row :span 2;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(14) {
    border: 1px solid red;
    grid-row :span 2;
    display: flex;
    align-items: center;
    font-size: 100px;
    padding-left: 10px;
    color: red;
}

#left > div:nth-child(15) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(16) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left > div:nth-child(16) > div {
    background-color: red;
    white-space: nowrap;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}

#left > div:nth-child(17) {
    border: 1px solid red;
    grid-row :span 2;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(18) {
    border: 1px solid red;
    grid-row :span 2;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    padding-left: 10px;
    color: red;
}

#left > div:nth-child(19) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(20) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left > div:nth-child(20) > div {
    background-color: red;
    white-space: nowrap;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}

#left > div:nth-child(21) {
    border: 1px solid red;
    grid-row :span 2;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(22) {
    border: 1px solid red;
    grid-row :span 2;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    padding-left: 10px;
    color: red;
}

#left > div:nth-child(23) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

#left > div:nth-child(24) {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left > div:nth-child(24) > div {
    background-color: red;
    white-space: nowrap;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
}

#middle {
    display: flex;
    flex-direction: column;
}

#middle > div:nth-child(1) {
    width: 7vw;
    height: 50%;
    background-color: pink;
    writing-mode: vertical-rl;
    transform: rotate(-360deg);
    display: flex;
    align-items: center;
    font-size: 25px;
}

#middle > div:nth-child(2) {
    position: absolute;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 47%;
    z-index: 10;
}

#middle > div:nth-child(3) {
    width: 7vw;
    height: 50%;
    background-color: blue;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    display: flex;
    align-items: center;
    font-size: 25px;
}

#right {
    background-color: red;
}

#right > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#right > div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
}

#right > div:nth-child(2) > div {
    border-top: 1px solid black;
}

#right > div:nth-child(2) > div > div:nth-child(1) {
    font-size: 30px;
}

#right > div:nth-child(2) > div > div:nth-child(2) {
    font-size: 13px;
}






