@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

body {
    background-color: #f6f6f6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#container > div {
    padding: 15px;
}

#container > div:nth-child(1) {
    background-color: black;
    color: white;
    font-size: 35px;
}

#container > div:nth-child(2) {
    background-color: blueviolet;
}

#container > div:nth-child(3) {
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#container > div:nth-child(3) > div:first-child {
    font-size: 14px;
    margin-bottom: 10px;
}

#container > div:nth-child(3) > div:nth-child(6){
    width: max-content;
    background-color: #786fa6;
}

#container > div:nth-child(4) {
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

#container > div:nth-child(4) > div:first-child {
    font-size: 14px;
    margin-bottom: 10px;
}

#container > div:nth-child(5) {
    grid-row: span 2;
    background-color: red;
    font-size: 30px;
}

#container > div:nth-child(7) {
    background-color: gold;
    font-size: 30px;
}